{
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }


  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
    height: 70px;
    margin: 0px 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .name {
    display: flex;
    justify-content: start;
    padding: 30px;
    width: 30%;
    font-size: x-large;
  }

  nav {
    display: flex;
    justify-content: end;
    width: 70%;
    padding: 20px;
  }

  nav p {
    padding: 10px;
    font-size: larger;
    width: max-content;
  }

  .hero-banner {
    height: 35vh;
    background-image: url(../images/Eliean\ Donan\ Castle\,\ Scottish\ Highlands.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size:cover;
    max-width:inherit
  }

  .hero-banner h2 {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items:flex-end;
    margin-right: 125px;
    margin: 30px;
  }

  .grid-container {
    display: grid;
    height: 80vh;
    grid-template-rows: 20% 35% 40% 5%;
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid gap: 5px;
    grid-template-areas:
      "aboutSide aboutText aboutText myPhoto"
      "workSide workLarge workLarge workLarge"
      "workSide subGrid subGrid subGrid"
      "contactSide contacts contacts contacts"
  }

  .grid-item-sb {
    background-color: yellow;
    color: blue;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0px 1px;
    border: 10px;
    border-color: black;
    text-align: end;
  }

  .grid-item {
    padding: 20px;
    padding-bottom: 50px;
  }

  #aboutSide {
    grid-area: aboutSide;

  }

  #aboutText {
    grid-area: aboutText;
    min-height: ;
  }

  #myPhoto {
    grid-area: myPhoto;
    background-image: url(../images/DF\ cwg.jpg);
    background-repeat: no-repeat;
    max-height:max-content;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;

  }


  #workSide {
    grid-area: workSide;
  }

  #workLarge {
    grid-area: workLarge;
    background-image: url(../images/PXL_20210902_110858445.jpg);
    background-size:cover;
    background-position: 0px;
    margin: px;
    color:white;
  }

  #workLarge h4 {
    color:black;
   
      }

  #workLarge p {
    display: flex;
    align-items: flex-end;
color:black;

  }

  #subGrid {
    grid-area: subGrid;
  }

  .sub-grid-item {
    padding: 10px;
    padding-bottom: 50px;
    margin: 10px;
  }

  .sub-grid-container {
    display: grid;
    background-color: ;
    padding: 0px;
    margin: 10px;
    border: 10px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "workSmall1 workSmall2"
      "workSmall3 workSmall4";
  }

  #workSmall1 {
    grid-area: workSmall1;
    background-color: blue;
    background-image: url(../images/adeptus-site.png);
    background-size: cover;

  }

  #workSmall2 {
    grid-area: workSmall2;
    background-color: darkolivegreen;
  }

  #workSmall3 {
    grid-area: workSmall3;
    background-color: crimson;
  }

  #workSmall4 {
    grid-area: workSmall4;
    background-color: magenta;
  }

  #contactSide {
    grid-area: contactSide;
  }

  #contacts {
    grid-area: contacts;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
  }

h2 {
  color: white;
  padding: 190px 0px;
}
.hero-banner p {
  color:white;
  margin: -200px 30px;

}



  /*
  page-wrapper {
    display: grid;
    height: 90vh;
    min-height: fit-content;
    margin: 0px 0%;
    grid-template-rows: 20% 35% 20% 20% 5%;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-areas:
      "about about-p about-p about-p"
      "work workLarge workLarge workLarge"
      "work workSmall workSmall workSmall"
      "work workSmall workSmall workSmall"
      "contactMe contacts contacts contacts";
  }

  #about {
    grid-area: about;
    justify-self: end;
    }

  #about-p {
    grid-area: about-p;
    padding: 10px;
  }

  #work {
    grid-area: work;
    justify-self: end;
  }

  #workLarge {
    grid-area: work-large;
    background-image: url(/images/02-run-buddy.jpg);
  }

  #workSmall {
    grid-area: work-small;
    background-image: url(/images/02-portfolio-1.jpg);
  }

  #contactMe {
    grid-area
    : contact-me;
    justify-self: end;
  }

  #contacts {
    grid-area: contacts;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }